Repository beyond-sw-camp/be06-fin-SENAGAE-Enadu, pull requests merged in 2024-09, with the labels that each got.

#106 [Feat] 헤더 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/header/HeaderComponent.vue
  frontend/src/store/useUserStore.js
Labels: frontend, feature

#107 [Feat] 위키 등록 컴포넌트, 페이지 개발 (#78)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/main.js
  frontend/src/pages/wiki/WikiRegisterPage.vue
  frontend/src/router/index.js
Labels: frontend, feature

#109 [Feat] 채팅방 목록 조회 컴포넌트 생성 #85
  frontend/src/assets/img/biggarbagebin.svg
  frontend/src/assets/img/message_tail_re.svg
  frontend/src/assets/img/message_tail_request_re.svg
  frontend/src/assets/img/send_icon.png
  frontend/src/components/Chat/ChatNavComponent.vue
  frontend/src/components/Chat/ChatRoomComponent.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
Labels: frontend, feature

#111 [Feat] User, Chat, ChatRoom, EmailVerify, PointDetail 엔티티 생성
  backend/src/main/java/org/example/backend/Chat/Model/Entity/Chat.java
  backend/src/main/java/org/example/backend/Chat/Model/Entity/ChatRoom.java
  backend/src/main/java/org/example/backend/EmailVerify/Model/Entity/EmailVerify.java
  backend/src/main/java/org/example/backend/Point/Model/Entity/PointDetail.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
Labels: backend, feature

#110 [Feat] Qna관련 entity 생성 및 관계 지정
  backend/src/main/java/org/example/backend/Answer/Entity/Answer.java
  backend/src/main/java/org/example/backend/Answer/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Answer/Entity/AnswerLike.java
  backend/src/main/java/org/example/backend/Qna/Entity/QnaBorad.java
  backend/src/main/java/org/example/backend/Qna/Entity/QnaLike.java
  backend/src/main/java/org/example/backend/Qna/Entity/QnaScrap.java
Labels: backend, feature

#112 [Feat] Wiki, Category 관련 entity 생성 및 관계지정
  backend/src/main/java/org/example/backend/Category/Model/Entity/Category.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/LatestWiki.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/Wiki.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/WikiContent.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/WikiScrap.java
  package-lock.json
Labels: backend, feature

#108 [Feat] 질문 목록 카드 구현 # 101
  frontend/src/components/qna/QnaCardComponent.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useQnaStore.js
  frontend/src/utils/FormatDate.js
Labels: frontend, feature

#114 [Feat] qna 부분 엔티티 관계키 주석 해제 및 연결
  backend/src/main/java/org/example/backend/Answer/Model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Answer/Model/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Answer/Model/Entity/AnswerLike.java
  backend/src/main/java/org/example/backend/Qna/Entity/QnaBorad.java
  backend/src/main/java/org/example/backend/Qna/Entity/QnaScrap.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBorad.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaLike.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaScrap.java
Labels: backend, feature

#118 [Feat] User엔티티 연관관계 맺음
  backend/src/main/java/org/example/backend/Answer/Model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Chat/Model/Entity/Chat.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaLike.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaScrap.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
Labels: backend, feature

#120 [Fix] 엔티티 수정
  backend/src/main/java/org/example/backend/Answer/Model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Answer/Model/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Answer/Model/Entity/AnswerLike.java
  backend/src/main/java/org/example/backend/Category/Model/Entity/Category.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorLike.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorScrap.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
Labels: bug, backend, fix

#122 [Feat] BaseResponse 생성 (#121)
  backend/src/main/java/org/example/backend/Common/BaseException.java
  backend/src/main/java/org/example/backend/Common/BaseResponse.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
Labels: backend, feature

#124 [Feat] GlobalExceptionHandler, InvalidCustomException 생성 (#123)
  backend/src/main/java/org/example/backend/Exception/GlobalExceptionHandler.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidCustomException.java
Labels: backend, feature

#125 [Feat] 파일 업로드 기능 구현 (#41)
  backend/build.gradle
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Config/S3Config.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidFileException.java
  backend/src/main/java/org/example/backend/File/Controller/FileUploadController.java
  backend/src/main/java/org/example/backend/File/Service/CloudFileUploadService.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#127 [Feat] 하위 카테고리 목록 조회 추가 (#51)
  backend/src/main/java/org/example/backend/Category/Controller/CategoryController.java
  backend/src/main/java/org/example/backend/Category/Model/Res/SubCategoryRes.java
  backend/src/main/java/org/example/backend/Category/Repository/CategoryRepository.java
  backend/src/main/java/org/example/backend/Category/Service/CategoryService.java
Labels: backend, feature

#129 [Feat] 채팅방 조회 api 연결 (#85)
  frontend/src/components/Chat/ChatRoomComponent.vue
  frontend/src/store/useChatStore.js
  frontend/vue.config.js
Labels: frontend, feature

#128 [Feat] 채팅방 리스트 조회 API 구현 (#55)
  backend/src/main/java/org/example/backend/Chat/Controller/ChatController.java
  backend/src/main/java/org/example/backend/Chat/Model/ChatRoomRes.java
  backend/src/main/java/org/example/backend/Chat/Repository/ChatRoomRepository.java
  backend/src/main/java/org/example/backend/Chat/Service/ChatService.java
Labels: backend, feature

#134 [Docs] PR 템플릿 추가
  .github/pull_request_template.md
Labels: backend, docs

#135 [Docs] PR 템플릿 추가
  .github/pull_request_template.md
Labels: frontend, feature

#130 [Feat] 위키 등록 백엔드 API (#23)
  backend/src/main/java/org/example/backend/Category/Model/Entity/Category.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidCategoryException.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidWikiException.java
  backend/src/main/java/org/example/backend/File/Service/CloudFileUploadService.java
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/Wiki.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/WikiContent.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/WikiRegisterReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/WikiRegisterRes.java
  backend/src/main/java/org/example/backend/Wiki/Repository/LatestWikiRepository.java
  backend/src/main/java/org/example/backend/Wiki/Repository/WikiContentRepository.java
  backend/src/main/java/org/example/backend/Wiki/Repository/WikiRepository.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#131 [Feat] qna 질문 등록 api 구현
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidQnaException.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/req/CreateQuestionReq.java
Labels: backend, feature

#132 [Feat] qna 질문 목록 조회 구현
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Res/GetQnaListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/req/GetQnaListReq.java
Labels: backend, feature

#136 [Feat] docker-compose.yml 생성
  backend/.gitignore
  backend/docker-compose.yml
Labels: devops, backend, docs, feature

#138 [Feat] 일반 로그인 기능 추가 (#4)
  backend/build.gradle
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Config/Filter/JwtFilter.java
  backend/src/main/java/org/example/backend/Config/Filter/LoginFilter.java
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidUserException.java
  backend/src/main/java/org/example/backend/Security/CustomUserDetailService.java
  backend/src/main/java/org/example/backend/Security/CustomUserDetails.java
  backend/src/main/java/org/example/backend/User/Repository/UserRepository.java
  backend/src/main/java/org/example/backend/Util/JwtUtil.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#137 [Feat] 로그인 페이지 추가 (#63)
  frontend/src/App.vue
  frontend/src/components/header/HeaderComponent.vue
  frontend/src/components/user/OverlayComponent.vue
  frontend/src/components/user/SignInComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/router/index.js
  frontend/src/store/useUserStore.js
Labels: frontend, feature

#139 [Fix] Qna 질문 등록 기능 CustomUserDetails를 활용한 유저 데이터 연결
  backend/src/main/java/org/example/backend/Category/Repository/CategoryRepository.java
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
Labels: backend, fix

#140 [Feat] 질문 등록 페이지 구현 및 백엔드 api 연결
  frontend/src/components/qna/QnaRegisterComponent.vue
  frontend/src/router/index.js
  frontend/src/store/useQnaStore.js
Labels: frontend, feature

#142 [Feat] 카테고리 모달 추가 (#74, #77, #68)
  frontend/src/components/Category/CategoryItemComponent.vue
  frontend/src/components/Category/SubCategoryModal.vue
  frontend/src/components/Category/SuperCategoryModal.vue
  frontend/src/store/useCategoryStore.js
Labels: frontend, feature

#148 [Feat] 위키 등록 axios 연결 기능 (#78)
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/store/useWikiStore.js
Labels: frontend, feature

#147 [Feat] 하위 카테고리 등록 추가 (#65)
  frontend/src/components/Category/SubCategoryModal.vue
  frontend/src/store/useCategoryStore.js
Labels: frontend, feature

#144 [Feat] 채팅 내역 조회 API 구현 (#54)
  backend/src/main/java/org/example/backend/Chat/Controller/ChatController.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/ChatMessageListRes.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/ChatMessageRes.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/ChatRoomRes.java
  backend/src/main/java/org/example/backend/Chat/Repository/ChatRepository.java
  backend/src/main/java/org/example/backend/Chat/Service/ChatService.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidChatException.java
Labels: backend, feature

#149 [Docs] PR-TEMPLATE 생성
  .github/pull_request_template.md
Labels: docs

#150 [Fix] 위키 등록 에러 수정
  frontend/src/components/wiki/WikiRegisterComponent.vue
Labels: frontend, fix

#145 [Feat] 채팅 내역 조회 컴포넌트, 채팅 페이지 생성 (#96, #82)
  frontend/src/components/Chat/ChatComponent.vue
  frontend/src/components/Chat/ChatMessageComponent.vue
  frontend/src/components/Chat/ChatNavComponent.vue
  frontend/src/components/Chat/ChatRoomComponent.vue
  frontend/src/pages/ChatPgae.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
Labels: frontend, feature

#143 [Fix] qna 목록 조회 customUserDetails를 활용한 유저 정보 데이터 조회 기능 추가
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Res/GetQnaListRes.java
Labels: backend, fix

#152 [Fix] router/index.js에 중복 import 제거
  frontend/src/router/index.js
Labels: bug, fix

#153 [Fix] 로그인 URL 프록시 설정
  frontend/src/store/useUserStore.js
Labels: frontend, fix

#133 [Feat] qna 상세 조회 구현
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Res/GetAnswerCommentDetailListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Res/GetAnswerDetailListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Res/GetQuestionDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, feature

#154 [Fix] CORS 설정 해제
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
Labels: backend, fix

#155 [Fix] 위키 등록 기능 CustomUserDetails를 활용한 유저 데이터 연결 (#23)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, fix

#146 [Feat] 하위 카테고리 등록 추가 (#47)
  backend/src/main/java/org/example/backend/Category/Controller/CategoryController.java
  backend/src/main/java/org/example/backend/Category/Model/Req/AddSubCategoryReq.java
  backend/src/main/java/org/example/backend/Category/Repository/CategoryRepository.java
  backend/src/main/java/org/example/backend/Category/Service/CategoryService.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
Labels: backend, feature

#159 [Feat] CORS Origin 설정
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
Labels: backend, feature

#161 [Feat] 로그아웃 추가 (#160)
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
Labels: backend, feature

#163 [Feat] 로그아웃 추가 (#160)
  frontend/src/components/header/HeaderComponent.vue
  frontend/src/store/useUserStore.js
Labels: frontend, feature

#141 [Feat] 에러 아카이브 게시판 등록
  backend/src/main/java/org/example/backend/Category/Model/Entity/Category.java
  backend/src/main/java/org/example/backend/Common/BaseResponse.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/RegisterErrorArchiveReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/RegisterErrorArchiveRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveReository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidErrorBoardException.java
Labels: backend, feature

#166 [Feat] 깃허브 로그인, 회원가입 추가 (#2, #5)
  backend/build.gradle
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Exception/CustomAuthenticationFailureHandler.java
  backend/src/main/java/org/example/backend/Security/CustomOAuth2User.java
  backend/src/main/java/org/example/backend/Security/CustomOAuth2UserService.java
  backend/src/main/java/org/example/backend/Security/OAuth2LoginSuccessHandler.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
  backend/src/main/java/org/example/backend/User/Repository/UserRepository.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#167 [Feat] 위키 목록 조회 API 구현 (#26)
  backend/src/main/java/org/example/backend/BackendApplication.java
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/LatestWiki.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiListReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/WikiRegisterReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/WikiListRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, feature

#164 [Fix] 위키등록 axios 수정 완료 (#78)
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/pages/wiki/WikiRegisterPage.vue
  frontend/src/store/useWikiStore.js
Labels: frontend, fix

#174 [Feat] 이메일, 닉네임 중복 확인 (#14,#15)
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
Labels: backend, feature

#175 [Feat] 회원가입 추가(#1)
  backend/src/main/java/org/example/backend/BackendApplication.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Req/SingupReq.java
  backend/src/main/java/org/example/backend/User/Model/Req/UserSignupReq.java
  backend/src/main/java/org/example/backend/User/Model/Res/SignupRes.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
Labels: backend, feature

#176 프론트 오만가지 수정
  frontend/src/App.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/pages/WikiRegisterPage.vue
  frontend/src/router/index.js
  frontend/src/store/useUserStore.js
Labels: bug, frontend, fix

#179 [Feat] 회원 정보(닉네임, 이미지) 수정 추가(#6, #7)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/File/Controller/FileUploadController.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
Labels: backend, feature

#172 [Fix] 목록 조회 axios 호출 형태 및 date 타입 출력 형태 변경
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useQnaStore.js
  frontend/src/utils/FormatDate.js
Labels: frontend, fix

#184 [Feat] 포인트 내역 조회 API 구현 (#64)
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Point/Controller/PointController.java
  backend/src/main/java/org/example/backend/Point/Model/Entity/PointDetail.java
  backend/src/main/java/org/example/backend/Point/Model/Res/GetPointHistoryRes.java
  backend/src/main/java/org/example/backend/Point/Repository/PointRepository.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
Labels: backend, feature

#186 [Feat] Spring Security 설정으로 로그인 ì설정으로 인가받지 못한 사용자 처리 (#185)
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Exception/CustomAuthenticationEntryPoint.java
Labels: backend, feature

#182 [Feat] 채팅 기능 구현 (#53)
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/java/org/example/backend/Chat/Controller/ChatController.java
  backend/src/main/java/org/example/backend/Chat/Controller/MessageController.java
  backend/src/main/java/org/example/backend/Chat/Model/Req/GetMessageReq.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/ChatMessageListRes.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/GetChatMessageRes.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/GetChatRoomRes.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/GetMessageRes.java
  backend/src/main/java/org/example/backend/Chat/Service/ChatService.java
  backend/src/main/java/org/example/backend/Chat/Service/KafkaConsumerService.java
  backend/src/main/java/org/example/backend/Chat/Service/KafkaProducerService.java
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Config/Kafka/KafkaConsumerConfig.java
  backend/src/main/java/org/example/backend/Config/Kafka/KafkaProducerConfig.java
  backend/src/main/java/org/example/backend/Config/WebSocket/CustomHandShakeHandler.java
  backend/src/main/java/org/example/backend/Config/WebSocket/WebSocketConfig.java
  backend/src/main/java/org/example/backend/Security/StompPrincipal.java
Labels: backend, feature

#180 [Feat] 프론트 채팅 전송, 수신 기능 구현 (#169)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat/ChatComponent.vue
  frontend/src/components/Chat/ChatMessageComponent.vue
  frontend/src/components/Chat/ChatNavComponent.vue
  frontend/src/components/Chat/ChatRoomComponent.vue
  frontend/src/pages/ChatPage.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
Labels: frontend, feature

#188 [Fix] router index.js의 ChatPage import 오타 수정
  frontend/src/router/index.js
Labels: frontend, fix

#190 [Feat] 내 포인트 및 랭킹 조회 API 구현
  backend/src/main/java/org/example/backend/Point/Controller/PointController.java
  backend/src/main/java/org/example/backend/Point/Model/Res/GetMyRankRes.java
  backend/src/main/java/org/example/backend/Point/Model/Res/GetPointHistoryRes.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
  backend/src/main/java/org/example/backend/User/Repository/UserRepository.java
Labels: backend, feature

#195 [Feat] 위키 상세조회 기능 (#86)
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/main.js
  frontend/src/pages/WikiDetailPage.vue
  frontend/src/router/index.js
  frontend/src/store/useWikiStore.js
Labels: frontend, feature

#192 [Feat] 랭킹 조회 페이지 구현 (#72)
  frontend/src/components/Common/PaginationComponent.vue
  frontend/src/components/Point/PointHistoryComponent.vue
  frontend/src/components/Point/PointInfoComponent.vue
  frontend/src/components/Point/PointRankingComponent.vue
  frontend/src/components/Point/PointRankingUserComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/PointPage.vue
  frontend/src/router/index.js
  frontend/src/store/usePointStore.js
Labels: frontend, feature

#189 [Feat] 포인트 내역 페이지 구현 (#62)
  frontend/src/components/Common/PaginationComponent.vue
  frontend/src/components/Point/PointHistoryComponent.vue
  frontend/src/components/Point/PointInfoComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/PointPage.vue
  frontend/src/router/index.js
  frontend/src/store/usePointStore.js
Labels: frontend, feature

#193 [Feat] 전체 유저 랭킹 조회 API 구현 (#69)
  backend/src/main/java/org/example/backend/Common/UserGradeIconManager.java
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Point/Controller/PointController.java
  backend/src/main/java/org/example/backend/Point/Model/Res/GetPointRankRes.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
Labels: backend, feature

#165 [Feat] 에러 아카이브 axios 연결, 카테고리 모달창 연결(#71)
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/pages/ErrorArchiveRegisterPage.vue
  frontend/src/router/index.js
  frontend/src/store/useErrorArchiveStore.js
Labels: frontend, feature

#197 [Fix] index.js오타 수정
  frontend/src/router/index.js
Labels: frontend, fix

#191 [Fix] 마이페이지 버튼 드롭다운으로 수정
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/components/user/SignInComponent.vue
  frontend/src/pages/QnaListPage.vue
Labels: frontend, fix

#194 [Fix] 이메일, 닉네임 중복 기능 추가(#58)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/store/useUserStore.js
Labels: frontend, fix

#196 [Feat] 에러 아카이브 목록 조회 api 구현(#9)
  backend/build.gradle
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/ListErrorArchiveReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/ListErrorArchiveRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
  backend/src/main/java/org/example/backend/File/Service/CloudFileUploadService.java
  backend/src/main/java/org/example/backend/User/Repository/UserRepository.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#178 [Fix] 댓글을 자기참조 null에 관한 에러처리
  backend/src/main/java/org/example/backend/Answer/Model/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetAnswerCommentDetailListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetAnswerDetailListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetQnaListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetQuestionDetailRes.java
Labels: backend, fix

#198 [Fix] 회원가입시 이메일, 닉네임 중복(#1)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
Labels: backend, fix

#201 [Fix] 채팅 페이지 오류 해결 (#200)
  frontend/src/components/Chat/ChatComponent.vue
  frontend/src/components/Chat/ChatNavComponent.vue
  frontend/src/components/Chat/ChatRoomComponent.vue
  frontend/src/pages/ChatPage.vue
  frontend/src/store/useChatStore.js
  frontend/src/store/useUserStore.js
Labels: frontend, fix

#199 [Feat] 포인트 적립/차감 AOP 구현 (#60)
  backend/src/main/java/org/example/backend/Chat/Model/Entity/Chat.java
  backend/src/main/java/org/example/backend/Point/Aop/PointAop.java
  backend/src/main/java/org/example/backend/Point/Model/Entity/PointDetail.java
  backend/src/main/java/org/example/backend/Point/Model/Enum/PointDescriptionEnum.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
Labels: backend, feature

#207 [Feat] Nickname 컴포넌트 구현 (#206)
  frontend/src/components/Chat/ChatComponent.vue
  frontend/src/components/Common/NicknameComponent.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
Labels: frontend, feature

#208 [Feat] 채팅 시작 API 구현 (#52)
  backend/src/main/java/org/example/backend/Chat/Controller/ChatController.java
  backend/src/main/java/org/example/backend/Chat/Model/Req/StartChatReq.java
  backend/src/main/java/org/example/backend/Chat/Model/Res/StartChatRes.java
  backend/src/main/java/org/example/backend/Chat/Repository/ChatRoomRepository.java
  backend/src/main/java/org/example/backend/Chat/Service/ChatService.java
Labels: backend, feature

#210 [Feat] 비밀번호 확인, 비밀번호 수정, 회원탈퇴, 회원 정보 조회 추가 (#16, #17, #18, #20)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/File/Service/CloudFileUploadService.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
  backend/src/main/java/org/example/backend/User/Model/Req/UpdateUserPasswordReq.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetUserInfoRes.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
Labels: backend, feature

#211 [Feat] 회원 정보 페이지 추가(#70)
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Mypage/Info/PasswordModal.vue
  frontend/src/components/Mypage/MypageComponent.vue
  frontend/src/components/Mypage/ScrapListComponent.vue
  frontend/src/components/Mypage/UserLogComponent.vue
  frontend/src/pages/MypagePage.vue
  frontend/src/router/index.js
  frontend/src/store/useUserStore.js
Labels: frontend, feature

#204 [Feat] 위키 수정(버전 업데이트) API (#25)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Security/CustomUserDetails.java
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/LatestWiki.java
  backend/src/main/java/org/example/backend/Wiki/Model/Entity/WikiContent.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiUpdateReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiUpdateRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, feature

#214 [Feat] 회원가입시 이메일, 닉네임 중복 확인, 공백 확인
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/store/useUserStore.js
Labels: frontend, feature

#209 [Feat] 에러 아카이브 상세 조회 api 구현(#10)
  .idea/.gitignore
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorLike.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorScrap.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/GetErrorArchiveDetailReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/GetErrorArchiveDetailRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorLikeRepository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorScrapRepository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
  backend/src/main/resources/application.yml
Labels: backend, feature

#217 [Feat] 위키 이전버전 목록 조회 API (#33)
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiVersionListReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiVersionListRes.java
  backend/src/main/java/org/example/backend/Wiki/Repository/WikiContentRepository.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, feature

#218 [Feat] 위키 이전버전 상세 조회 API (#183)
  backend/hs_err_pid14324.log
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiVersionDetailReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiVersionDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, feature

#221 [Feat] 에러 아카이브 목록 조회 수정(최신순, 좋아요순)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/ListErrorArchiveReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/ListErrorArchiveRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: backend, feature

#222 [Feat] 에러 아카이브 목록 조회(최신순, 좋아요순)
  frontend/src/components/Common/SortTypeComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useErrorArchiveStore.js
Labels: frontend, feature

#219 [Fix] 채팅 페이지에서 라우팅 안되는 현상 수정
  frontend/src/store/useChatStore.js
Labels: frontend, fix

#227 [Fix] useErrorArchiveStore state에 comma 추가
  frontend/src/store/useErrorArchiveStore.js
Labels: frontend, fix

#212 [Feat] 위키 수정(버전 업데이트) 기능 (#79)
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/main.js
  frontend/src/pages/WikiDetailPage.vue
  frontend/src/pages/WikiUpdatePage.vue
  frontend/src/router/index.js
  frontend/src/store/useWikiStore.js
Labels: frontend, feature

#230 [Fix] 위키 등록 라우터 수정
  frontend/src/router/index.js
Labels: frontend, fix

#226 [Feat] 게시글 등록할 시 이미지 업로드기능 추가 (#225)
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/components/qna/QnaRegisterComponent.vue
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/store/useCommonStore.js
Labels: frontend, feature

#229 [Feat] 에러아카이브 상세 조회에 목차 기능 구현
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
Labels: frontend, feature

#224 [Feat] 에러 아카이브 좋아요/싫어요, 스크랩 추가
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorLike.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorScrap.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/ToggleResponse.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveReository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorLikeRepository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorScrapRepository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: backend, feature

#237 [Fix] 위키 목록 조회 totalPages 추가 (#26)
  backend/src/main/java/org/example/backend/Wiki/Model/Res/WikiListRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, fix

#232 [Feat] 위키 상세 페이지 detail 작업
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/pages/WikiDetailPage.vue
Labels: frontend, feature

#215 [Feat] Qna 좋아요, 싫어요 및 스크랩 설정 및 검증 메소드 구현
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Repository/AnswerLikeRepository.java
  backend/src/main/java/org/example/backend/Qna/Repository/QnaLikeRepository.java
  backend/src/main/java/org/example/backend/Qna/Repository/QnaScrapRepository.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/AnswerLike.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetAnswerDetailListRes.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetQuestionDetailRes.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
Labels: backend, feature

#231 [Feat] 검색 컴포넌트 생성 및 qna 목록 조회에 적용
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Common/SortTypeComponent.vue
  frontend/src/pages/QnaListPage.vue
Labels: frontend, feature

#234 [Feat] 에러아카이브 검색 API 구현 (#13)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/GetErrorArchiveSearchReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveReository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/DbErrorArchiveSearchService.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveSearchService.java
Labels: backend, feature

#238 [Feat] 위키 목록 조회 (#84)
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/wiki/WikiCardComponent.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useWikiStore.js
Labels: frontend, feature

#240 [Fix] 에러아카이브 좋아요/싫어요, 스크랩 버그 fix
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/LikeOrHateReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/ScrapReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/LikeOrHateRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/ToggleResponse.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: backend, fix

#241 [Fix] 위키 이전버전 상세조회 Response 수정
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiVersionDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, fix

#244 [Fix] 위키 이전버전 상세조회 Response 수정
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiVersionDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: backend, fix

#249 [Fix] 컨플릭트 해결 후 에러 처리
  frontend/src/store/useWikiStore.js
Labels: frontend, fix

#213 [Feat] 해당 사용자 질문 조회 (#28)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidMypageException.java
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/User/Controller/MypageController.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetUserQnaListRes.java
  backend/src/main/java/org/example/backend/User/Service/MypageService.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
Labels: backend, feature

#250 [Feat] 답변 목록 조회, qna 스크랩 목록 조회 (#30, #83)
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/User/Controller/MypageController.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetQnaScrapListRes.java
  backend/src/main/java/org/example/backend/User/Service/MypageService.java
Labels: 🍃 backend, ✏️ feature

#251 [Feat] 내 질문, 내 답변, QnA 스크랩 목록 조회 (#89, #91, #105)
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Mypage/Info/PasswordModal.vue
  frontend/src/components/Mypage/MypageComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/Mypage/ScrapListComponent.vue
  frontend/src/components/Mypage/UserLogComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/MypagePage.vue
  frontend/src/router/index.js
  frontend/src/store/useMypageStore.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ fix, ✏️ feature

#239 [Feat] 에러아카이브 상세 조회 페이지 좋아요/싫어요, 스크랩 api 연결
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, ✏️ feature

#243 [Feat] 메인페이지 목록 조회 API 구현
  backend/src/main/java/org/example/backend/Main/Controller/MainController.java
  backend/src/main/java/org/example/backend/Main/Model/Res/MainRes.java
  backend/src/main/java/org/example/backend/Main/Service/MainService.java
Labels: 🍃 backend, ✏️ feature

#242 [Feat] 메인 페이지 구현 및 API 연결(#61)
  frontend/src/components/Common/LoadingComponent.vue
  frontend/src/components/Common/TagComponent.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/qna/QnaDetailHeaderComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useMainStore.js
Labels: 🖥️ frontend, 🛠️ fix, ✏️ feature

#248 [Feat] 이메일 인증 페이지 생성, axios 연결, 닉네임 중복 확인 수정
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/EmailVerifyPage.vue
  frontend/src/router/index.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, ✏️ feature

#235 [Feat] 회원가입 시 이메일 인증 api 구현(#3)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Common/GlobalMessage.java
  backend/src/main/java/org/example/backend/EmailVerify/Controller/EmailVerifyController.java
  backend/src/main/java/org/example/backend/EmailVerify/Model/Entity/EmailVerify.java
  backend/src/main/java/org/example/backend/EmailVerify/Repository/EmailVerifyRepository.java
  backend/src/main/java/org/example/backend/EmailVerify/Service/EmailVerifyService.java
  backend/src/main/java/org/example/backend/Exception/custom/InvalidEmailException.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Entity/User.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
  backend/src/main/resources/application.yml
Labels: 🍃 backend, ✏️ feature

#257 [Fix] globalmesage 삭제 후 서비스에서 처리
  backend/src/main/java/org/example/backend/Common/GlobalMessage.java
  backend/src/main/java/org/example/backend/EmailVerify/Controller/EmailVerifyController.java
  backend/src/main/java/org/example/backend/EmailVerify/Service/EmailVerifyService.java
Labels: 🍃 backend, 🛠️ fix

#259 [Fix] router랑 useUserStore 오타 수정
  frontend/src/router/index.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ fix

#252 [Feat] 답변 등록 메커니즘 구현
  .idea/.gitignore
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Qna/Controller/AnswerController.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Repository/AnswerRepository.java
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/AnswerComment.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/req/CreateAnswerReq.java
Labels: 🍃 backend, ✏️ feature

#261 [Fix] Get매핑 Request DTO들 삭제
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiDetailReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiListReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiVersionDetailReq.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, 🛠️ fix

#253 [Feat] 답변 채택 api 구현
  backend/src/main/java/org/example/backend/Qna/Controller/AnswerController.java
  backend/src/main/java/org/example/backend/Qna/Repository/AnswerRepository.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
Labels: 🍃 backend, ✏️ feature

#262 [Fix] async 추가
  frontend/src/components/Category/SubCategoryModal.vue
  frontend/src/components/Category/SuperCategoryModal.vue
Labels: 😵 bug, 🖥️ frontend

#260 [Feat] 에러 아카이브 수정 api 구현
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/GetErrorArchiveUpdateReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/GetErrorArchiveDetailRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/GetErrorArchiveUpdateRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveRepository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: 🍃 backend, ✏️ feature

#263 [Feat] 위키 롤백 기능 구현 (#92)
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, ✏️ feature

#267 [Feat] 위키 작성 목록 조회(#80)
  frontend/src/components/Common/PaginationComponent.vue
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/wiki/WikiCardComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/PointPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/store/useMypageStore.js
Labels: 🖥️ frontend, 🛠️ fix, ✏️ feature

#266 [Feat] 위키 스크랩 기능 구현 (#94)
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, 🛠️ fix, ✏️ feature

#268 [Fix] 백엔드 요청 주소 수정
  frontend/src/components/user/SignInComponent.vue
  frontend/src/store/useChatStore.js
  frontend/src/store/useQnaStore.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ fix

#258 [Feat] 위키 롤백 API (#31)
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/WikiRollbackReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/WikiRollbackRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, ✏️ feature

#265 [Feat] 위키 스크랩 API (#32)
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Model/Req/WikiScrapReq.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/GetWikiDetailRes.java
  backend/src/main/java/org/example/backend/Wiki/Model/Res/WikiScrapRes.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, ✏️ feature

#271 [Feat] cicd 프론트 초기 설정
  cicd/front/Jenkinsfile
  cicd/front/frontend-deployment.yaml
  cicd/front/frontend-service.yaml
  cicd/front/frontend.sh
  cicd/front/nginx.conf
  frontend/Dockerfile
Labels: 📐 devops, ✏️ feature

#272 [Feat] 백엔드 CICD 초기 설정
  backend/Dockerfile
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/resources/application.yml
  cicd/back/Jenkinsfile
  cicd/back/backend-deployment.yaml
  cicd/back/backend-service.yaml
  cicd/back/backend.sh
Labels: 🍃 backend, 📄 docs, ✏️ feature

#275 [Fix] 위키 스크랩 매개변수 어노테이션 수정 (#32)
  backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, 🛠️ fix

#286 [Feat] 댓글 등록 및 조회, 작성 후 업데이트 구현
  frontend/src/components/qna/QnaAnswerDetailComponent.vue
  frontend/src/components/qna/QnaCommentDetailComponent.vue
  frontend/src/components/qna/QnaCommentRegisterComponent.vue
  frontend/src/components/qna/QnaDetailHeaderComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#280 [Fix] 위키 수정- 이미지 업로드 기능 추가
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, 🛠️ fix

#282 [Fix] 위키 등록시 비로그인 유저 리다이렉트 처리
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ frontend, 🛠️ fix

#298 [Feat] 백엔드 cicd 03
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/java/org/example/backend/Chat/Service/KafkaConsumerService.java
  backend/src/main/java/org/example/backend/Common/TestController.java
  backend/src/main/java/org/example/backend/Config/Kafka/KafkaConsumerConfig.java
  backend/src/main/java/org/example/backend/Config/Kafka/KafkaProducerConfig.java
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/resources/application.yml
  cicd/back/backend-deployment.yaml
Labels: 📐 devops, 🍃 backend, ✏️ feature

#308 [Feat] kafka-deployment, zookeeper-deployment 추가
  cicd/back/kafka-deployment.yaml
  cicd/back/zookeeper-deployment.yaml
Labels: 📐 devops

#309 [Fix] FRONT_URL 상수에 static 삭제
  backend/src/main/java/org/example/backend/EmailVerify/Service/EmailVerifyService.java
Labels: 🍃 backend, 🛠️ fix

#264 [Feat] 위키 작성내역, 스크랩 내역 (#22, #73)
  backend/src/main/java/org/example/backend/User/Controller/MypageController.java
  backend/src/main/java/org/example/backend/User/Model/Req/UserSignupReq.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetQnaScrapListRes.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetUserWikiListRes.java
  backend/src/main/java/org/example/backend/User/Service/MypageService.java
  backend/src/main/java/org/example/backend/Wiki/Repository/WikiContentRepository.java
Labels: 🍃 backend, 🛠️ fix, ✏️ feature

#312 [Feat] 배포 404 에러페이지 설정
  frontend/nginx.conf
Labels: 🖥️ frontend, 📐 devops, ✏️ feature

#306 [Feat] 에러 아카이브 삭제 api 구현
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Entity/ErrorArchive.java
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Req/RemoveErrorArchiveReq.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: 🍃 backend, ✏️ feature

#288 [Feat] qna 답변 등록 구현
  frontend/src/components/qna/QnaAnswerDetailComponent.vue
  frontend/src/components/qna/QnaAnswerRegisterComponent.vue
  frontend/src/components/qna/QnaDetailComponent.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#289 [Feat] qna 답변 채택 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/Common/AdditionalInfoComponent.vue
  frontend/src/components/qna/AdoptedTagComponent.vue
  frontend/src/components/qna/QnaAnswerDetailComponent.vue
  frontend/src/components/qna/QnaAnswerRegisterComponent.vue
  frontend/src/components/qna/QnaCommentDetailComponent.vue
  frontend/src/components/qna/QnaCommentRegisterComponent.vue
  frontend/src/components/qna/QnaDetailComponent.vue
  frontend/src/components/qna/QnaListCardComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#314 [Feat] 배포 404 에러페이지 설정
  frontend/nginx.conf
Labels: 🖥️ frontend, 📄 docs

#319 [Fix] 수정 시 상위 카테고리ID, 하위 카테고리ID 응답 받게 수정
  backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/GetErrorArchiveDetailRes.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: 🍃 backend, 🛠️ fix

#318 [Feat] 아카이브 작성내역, 스크랩/위키 스크랩목록 조회 추가 (#76,#81,#104)
  frontend/src/App.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/user/SignInComponent.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/store/useMypageStore.js
  frontend/src/store/useUserStore.js
Labels: 😵 bug, 🖥️ frontend, 🛠️ fix, ✏️ feature

#313 [Feat] qna 질문 및 답변 수정 api
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Qna/Controller/AnswerController.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/Answer.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
  backend/src/main/java/org/example/backend/Qna/model/req/EditAnswerReq.java
  backend/src/main/java/org/example/backend/Qna/model/req/EditQuestionReq.java
Labels: 🍃 backend, ✏️ feature

#317 [Feat ]아카이브 작성내역, 스크랩 조회 (#24, #67), 유저 로그 페이지 정보 조회 추가
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveReository.java
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/User/Controller/MypageController.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetLogUserInfoRes.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetUserArchiveListRes.java
  backend/src/main/java/org/example/backend/User/Model/Res/GetUserWikiListRes.java
  backend/src/main/java/org/example/backend/User/Repository/UserRepository.java
  backend/src/main/java/org/example/backend/User/Service/MypageService.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
  backend/src/main/java/org/example/backend/Wiki/Repository/WikiContentRepository.java
Labels: 🍃 backend, 🛠️ fix, ✏️ feature

#321 [Feat] 에러아카이브 검색 API 연결
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/store/useChatStore.js
  frontend/src/store/useErrorArchiveStore.js
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#328 [Fix] pagination css 변경
  frontend/src/components/Common/PaginationComponent.vue
Labels: 🖥️ frontend, 🛠️ bug fix

#276 [Feat] 에러 아카이브 수정 페이지 구현, 작성자만 id만 수정하기 버 튼보이게 버튼 생성
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveUpdateComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/ErrorArchiveUpdatePage.vue
  frontend/src/router/index.js
  frontend/src/store/useErrorArchiveStore.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, ✏️ feature

#330 [Fix] 에러아카이브 수정 충돌 해결할 때 생긴 오류 해결
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ frontend, 🛠️ bug fix

#333 [Fix] findByEnableTrue추가
  backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  backend/src/main/java/org/example/backend/ErrorArchive/Repository/ErrorArchiveReository.java
  backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: 🍃 backend, 🛠️ fix

#331 [Fix] 이메일 인증 후 회원가입 하게끔 수정
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/pages/EmailVerifyPage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/router/index.js
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, 🛠️ fix

#334 [Fix] failure handler 수정
  backend/src/main/java/org/example/backend/Security/OAuth2LoginFailureHandler.java
Labels: 🍃 backend, 🛠️ bug fix

#335 [Fix] oauth 페이지 수정
  frontend/src/pages/OAuthLoginPage.vue
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#338 [Fix] oauth 서비스 추가
  backend/src/main/resources/application.yml
  cicd/back/Jenkinsfile
  cicd/back/backend-oauth-service.yaml
  cicd/back/backend.sh
Labels: 🍃 backend, 🛠️ bug fix

#339 [Fix] oauth 서비스 연결
  frontend/nginx.conf
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#348 [Feat] 아무것도 선택안하고 검색 안되도록 변경(#347)
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
Labels: 🖥️ frontend, ✏️ feature
