Repository beyond-sw-camp/be06-fin-SENAGAE-Enadu, pull requests merged in 2024-10, with the labels that each got.

#385 [Feat] 롤백 시, 권한 없는 유저 alert창 출력 (#384)
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, 🛠️ fix, ✏️ feature

#389 [Refactor] 위키 시큐리티 인가 설정 (#388)
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, 📐 Refactor

#383 [Fix] 페이지네이션 6페이지 이후도 나오게 수정 (#382)
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Log/UserLogComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, ✏️ feature, 🛠️ bug fix

#387 [Refactor] 태그 컴포넌트 위치수정 (#386)
  frontend/src/components/Common/TagComponent.vue
  frontend/src/pages/ChatPage.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/pages/ErrorArchiveRegisterPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/MypagePage.vue
  frontend/src/pages/PointPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/UserLogPage.vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, 📐 Refactor

#375 [Fix] qna에 비로그인 사용자의 접근 권한 범위 지정 및 좋아요 및 스크랩 조회 메커니즘 구현
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Qna/Controller/AnswerController.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetAnswerStateRes.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetQuestionStateRes.java
Labels: 🍃 backend, 🛠️ fix

#374 [Fix] qna에 비로그인 사용자의 접근 권한 범위 지정 및 좋아요 및 스크랩 조회 메커니즘 구현
  frontend/src/components/Common/AdditionalInfoComponent.vue
  frontend/src/components/Common/PaginationComponent.vue
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/List/QnaListCardComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/store/useMainStore.js
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ fix

#394 [Refactor] 인가 되지 않은 사용자 security로 설정 (#393)
  backend/src/main/java/org/example/backend/Config/SecurityConfig.java
Labels: 🍃 backend, 📐 Refactor

#391 [Feat] 회원가입, 에러아카이브 등록 router 설정 (#390)
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, ✏️ feature, 📐 Refactor

#395 [Design] pagination css 수정, logo 추가
  frontend/src/components/Common/PaginationComponent.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/user/OverlayComponent.vue
  frontend/src/pages/MainPage.vue
Labels: 🖥️ frontend, 🎨 design

#396 [Design] QnaCard 및 Detail css 수정
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🎨 design

#398 [Fix] 에러아카이브 등록 router 설정 fix (#390)
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#400 [Fix] 답변 및 댓글 등록 시, 등록 컴포넌트 및 리스트 컴포넌트 시각화 여부 변경
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaCommentDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/Register/QnaAnswerRegisterComponent.vue
  frontend/src/components/Qna/Register/QnaCommentRegisterComponent.vue
Labels: 🖥️ frontend, 🛠️ fix, 🎨 design

#392 [Fix] Qna 검색 시 카테고리 미 선택 데이터에 대한 처리 방식 변경
  backend/src/main/java/org/example/backend/Qna/Repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/Qna/Service/BasicQnaSearchService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
Labels: 🍃 backend, 🛠️ fix

#401 [Design] css 수정
  frontend/src/App.vue
  frontend/src/components/Category/SubCategoryModal.vue
  frontend/src/components/Category/SuperCategoryModal.vue
  frontend/src/components/Common/CategoryComponent.vue
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Log/UserLogComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/List/QnaListCardComponent.vue
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/wiki/WikiCardComponent.vue
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/WikiVersionListPage.vue
Labels: 🖥️ frontend, 🎨 design

#403 [Fix] 위키 수정 컴포넌트 수정 (#402)
  frontend/src/components/wiki/WikiUpdateComponent.vue
Labels: 😵 bug, 🖥️ frontend, 🛠️ fix

#404 [Fix] 포인트 관련 dto 수정
  backend/src/main/java/org/example/backend/Point/Model/Res/GetMyRankRes.java
  backend/src/main/java/org/example/backend/Point/Model/Res/GetPointRankRes.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
Labels: 🍃 backend, 🛠️ bug fix

#405 [Design] css 수정
  frontend/src/App.vue
  frontend/src/components/Mypage/History/HistoryListComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Mypage/Log/UserLogComponent.vue
  frontend/src/components/Mypage/Scrap/ScrapListComponent.vue
  frontend/src/components/Point/PointInfoComponent.vue
  frontend/src/components/Point/PointRankingComponent.vue
  frontend/src/components/Point/PointRankingUserComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/List/QnaListCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/store/useUserLogStore.js
Labels: 🖥️ frontend, 🎨 design

#406 [Feat] 소셜 유저 회원 탈퇴 (#327), 회원가입 로직 추가
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, ✏️ feature

#407 [Feat] 소셜 유저 회원 탈퇴(#326)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Security/CustomOAuth2User.java
  backend/src/main/java/org/example/backend/Security/CustomOAuth2UserService.java
  backend/src/main/java/org/example/backend/Security/OAuth2LoginSuccessHandler.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
  backend/src/main/java/org/example/backend/User/Service/UserService.java
  backend/src/main/java/org/example/backend/Util/JwtUtil.java
Labels: 🍃 backend, ✏️ feature

#410 [Fix] 좋아요 및 싫어요 메커니즘 수정 완료
  frontend/package-lock.json
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ fix

#412 [Fix] 좋아요 버튼 충돌 시의 메커니즘 수정
  backend/src/main/java/org/example/backend/Qna/Controller/AnswerController.java
  backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/AnswerLike.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaLike.java
  backend/src/main/java/org/example/backend/Qna/model/Res/GetAnswerStateRes.java
Labels: 🍃 backend, 🛠️ fix

#415 Fe/design/UI/main
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/store/useMainStore.js
Labels: 🖥️ frontend, 🎨 design

#422 [Design] 검색 컴포넌트 색상 변경
  frontend/src/components/Common/SearchComponent.vue
Labels: 🖥️ frontend, 🎨 design

#421 [Fix] 회원가입 예외처리 수정 (#419)
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/User/Controller/UserController.java
Labels: 🍃 backend, 🛠️ bug fix

#426 [Feat] Qna 검색 QueryDSL을 활용한 동적 쿼리로 개선
  backend/build.gradle
  backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/Config/QuerydslConfig.java
  backend/src/main/java/org/example/backend/Qna/Repository/QnaRepositoryCustom.java
  backend/src/main/java/org/example/backend/Qna/Repository/QnaRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/Qna/Service/BasicQnaSearchService.java
  backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  backend/src/main/java/org/example/backend/Qna/model/Entity/QnaBoard.java
Labels: 🍃 backend, ✏️ feature

#424 [Feat] 포인트 부여/차감 로직 완성 (#423)
  backend/src/main/java/org/example/backend/Point/Aop/PointAop.java
  backend/src/main/java/org/example/backend/Point/Model/Enum/PointDescriptionEnum.java
  backend/src/main/java/org/example/backend/Point/Service/PointService.java
Labels: 🍃 backend, ✏️ feature

#425 [Fix] 위키 이전버전 상세 css효과 수정
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
Labels: 🖥️ frontend, 🎨 design

#433 [Feat] Elastic-Search 초기 설정
  back/backend/.gitignore
  back/backend/docker-compose.yml
  back/backend/hs_err_pid14324.log
Labels: 🍃 backend, ✏️ feature

#435 [Feat] DataSourceConfig 추가
  back/batch/src/main/java/com/example/batch/BatchApplication.java
  back/batch/src/main/java/com/example/batch/config/DataSourceConfig.java
  back/batch/src/main/resources/application.yml
Labels: 🍃 backend, ✏️ feature

#427 [Fix] Qna 권한에 따른 처리 변경
  frontend/src/components/Common/AdditionalInfoComponent.vue
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 📐 refactor, 🛠️ bug fix

#438 [Feat] Elastic-Search 라이브러리 위치 수정
  back/backend/build.gradle
  back/build.gradle
Labels: 🍃 backend, 📐 refactor

#442 [Feat] 위키 등록 권한 제한 (#441)
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/WikiService.java
Labels: 🍃 backend, ✏️ feature

#444 [Feat] Elasticsearch 라이브러리 설정 및 테스트 (#443)
  back/backend/build.gradle
  back/backend/docker-compose.yml
  back/backend/src/main/java/org/example/backend/BackendApplication.java
  back/backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  back/backend/src/main/java/org/example/backend/Qna/Repository/ElasticsearchQuestionRepository.java
  back/backend/src/main/java/org/example/backend/Qna/Service/ElasticQnaSearchService.java
  back/backend/src/main/java/org/example/backend/Qna/model/Doc/QnaBoard.java
  back/backend/src/main/resources/application.yml
  back/build.gradle
Labels: 🍃 backend, ✏️ feature

#440 [Feat] 위키 등록 권한 제한 (#439)
  frontend/src/pages/WikiListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, ✏️ feature

#454 [Feat] Elasticsearch config파일 생성
  back/backend/src/main/java/org/example/backend/Config/ElasticSearchConfig.java
  back/backend/src/main/resources/application.yml
Labels: 🍃 backend, ✏️ feature

#455 [Feat] ai 답변 추가
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
Labels: 🖥️ frontend, ✏️ feature

#447 [Feat] 스프링 배치를 활용한 user 랭킹 시스템 구현
  back/backend/src/main/java/org/example/backend/Point/Service/PointService.java
  back/batch/src/main/java/com/example/batch/config/BatchDataSourceConfig.java
  back/batch/src/main/java/com/example/batch/config/MainDataSourceConfig.java
  back/batch/src/main/java/com/example/batch/job/BatchJobRunner.java
  back/batch/src/main/java/com/example/batch/job/DailyRankJob.java
  back/batch/src/main/resources/application.yml
  back/common/src/main/java/com/example/common/Ranking/Repository/RankRepository.java
  back/common/src/main/java/com/example/common/Ranking/Service/RankService.java
  back/common/src/main/java/com/example/common/Ranking/model/Entity/Ranking.java
  back/common/src/main/java/com/example/common/User/Model/Entity/User.java
  back/common/src/main/java/com/example/common/User/Repository/UserRepository.java
Labels: 🍃 backend, ✏️ feature

#463 [Fix] qna 등록 에러 해결 및 검색 메커니즘 수정
  frontend/src/components/Common/CategoryComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/QnaResolvedComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ fix

#460 [Feat] qna 답변의 채택 여부를 확인하여 질문의 미해결 및 해결 여부 판단 메커니즘 구현
  frontend/src/components/Qna/QnaResolvedComponent.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#461 [Feat] qna 목록조회 및 검색에서의 resolved-state 정렬 조건 구현
  back/backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  back/backend/src/main/java/org/example/backend/Qna/model/req/GetQnaListReq.java
  back/common/src/main/java/com/example/common/Qna/Repository/QnaRepositoryCustom.java
  back/common/src/main/java/com/example/common/Qna/Repository/QnaRepositoryCustomImpl.java
  back/common/src/main/java/com/example/common/Qna/model/Entity/QnaBoard.java
  back/common/src/main/java/com/example/common/Qna/model/Resolved.java
Labels: 🍃 backend, ✏️ feature

#459 [Fix] 자신과 채팅 안되도록 수정 (#458)
  back/backend/src/main/java/org/example/backend/Chat/Service/ChatService.java
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/common/src/main/java/com/example/common/User/Repository/UserRepository.java
Labels: 🍃 backend, 🛠️ bug fix

#467 [Feat] Qna 관련 배치 추가
  back/batch/Dockerfile
  back/batch/build.gradle
  back/batch/gradlew
  back/batch/src/main/java/com/example/batch/BatchApplication.java
  back/batch/src/main/java/com/example/batch/common/BatchJobRunner.java
  back/batch/src/main/java/com/example/batch/common/SleepChunkListener.java
  back/batch/src/main/java/com/example/batch/config/BatchDataSourceConfig.java
  back/batch/src/main/java/com/example/batch/job/AiAnswerConfig.java
  back/batch/src/main/java/com/example/batch/job/UnansweredConfig.java
  back/batch/src/main/java/com/example/batch/processor/AiAnswerProcessor.java
  back/batch/src/main/java/com/example/batch/writer/AnswerWriter.java
  back/batch/src/main/resources/application.yml
  back/common/src/main/java/com/example/common/Qna/Repository/QuestionRepository.java
  back/common/src/main/java/com/example/common/Qna/model/Entity/Answer.java
  cicd/batch/batch-aianswer-cronjob.yaml
Labels: 📐 devops, 🍃 backend, ✏️ feature

#470 [Fix] qna 등록 에러 해결 및 검색 메커니즘 수정
  frontend/src/components/Common/CategoryComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#471 [Fix] qna search 검색 범위 resolved 범위 지정
  back/common/src/main/java/com/example/common/Qna/Repository/QnaRepositoryCustomImpl.java
Labels: 🍃 backend, 🛠️ bug fix

#472 [Fix] qna 검색 및 목록조회 데이터가 없을 시 페이징 처리 에러 발생 해결
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#473 [Feat] 랭킹 테이블 분리 및 추가
  back/batch/src/main/java/com/example/batch/job/DailyRankingConfig.java
  back/batch/src/main/java/com/example/batch/job/UnansweredConfig.java
  back/batch/src/main/java/com/example/batch/job/WeeklyRankConfig.java
  back/batch/src/main/java/com/example/batch/processor/AiAnswerProcessor.java
  back/common/src/main/java/com/example/common/CommonApplication.java
  back/common/src/main/java/com/example/common/Qna/Repository/QuestionRepository.java
  back/common/src/main/java/com/example/common/Ranking/Repository/DailyRankingRepository.java
  back/common/src/main/java/com/example/common/Ranking/Repository/RankRepository.java
  back/common/src/main/java/com/example/common/Ranking/Repository/WeeklyRankingRepository.java
  back/common/src/main/java/com/example/common/Ranking/Service/RankService.java
  back/common/src/main/java/com/example/common/Ranking/model/Entity/DailyRanking.java
  back/common/src/main/java/com/example/common/Ranking/model/Entity/WeeklyRanking.java
  back/common/src/main/java/com/example/common/User/Model/Entity/User.java
Labels: 🍃 backend, ✏️ feature, 🛠️ bug fix

#474 [Feat] jenkins batch 추가
  cicd/batch/Jenkinsfile
  cicd/batch/batch-aianswer-cronjob.yaml
  cicd/batch/batch-dailyRanking-cronjob.yaml
  cicd/batch/batch-unanswered-cronjob.yaml
Labels: 📐 devops, ✏️ feature

#475 [Fix] 크론잡 이름 변경
  cicd/batch/batch-dailyranking-cronjob.yaml
Labels: 📐 devops, 📐 refactor

#477 [Feat] 위키 검색에 Elasticsearch 도입 (#466)
  back/backend/elasticsearch/config/index-settings.json
  back/backend/src/main/java/org/example/backend/Config/ElasticSearchConfig.java
  back/backend/src/main/java/org/example/backend/Wiki/Controller/WikiController.java
  back/backend/src/main/java/org/example/backend/Wiki/Model/Doc/Wiki.java
  back/backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiSearchReq.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/DbWikiSearchService.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/ElasticWikiSearchService.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/WikiSearchService.java
Labels: 🍃 backend, ✏️ feature

#482 [Feat] 에러 아카이브 검색 엘라스틱 서치 적용
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Model/Doc/ErrorArchive.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/DbErrorArchiveSearchService.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveElasticSearchService.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveSearchService.java
Labels: 🍃 backend, ✏️ feature

#484 [Fix] errorarchive 검색 버그 수정
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveElasticSearchService.java
Labels: 🍃 backend, 🛠️ bug fix

#480 [Feat] 일간, 주간 랭킹 api 추가 (#479)
  back/backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  back/backend/src/main/java/org/example/backend/Point/Controller/PointController.java
  back/backend/src/main/java/org/example/backend/Point/Model/Res/GetMyRankRes.java
  back/backend/src/main/java/org/example/backend/Point/Model/Res/GetRankingRes.java
  back/backend/src/main/java/org/example/backend/Point/Service/PointService.java
  back/common/src/main/java/com/example/common/Ranking/Repository/DailyRankingRepository.java
  back/common/src/main/java/com/example/common/Ranking/Repository/WeeklyRankingRepository.java
  back/common/src/main/java/com/example/common/User/Model/Entity/User.java
Labels: 🍃 backend, ✏️ feature

#481 [Feat] 일간, 주간 랭킹 페이지 추가(#478)
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Point/PointInfoComponent.vue
  frontend/src/components/Point/PointRankingComponent.vue
  frontend/src/components/Point/RankingListComponent.vue
  frontend/src/pages/PointPage.vue
  frontend/src/pages/RankingPage.vue
  frontend/src/router/index.js
  frontend/src/store/usePointStore.js
Labels: 🖥️ frontend, ✏️ feature, 📐 refactor

#489 [Feat] 엘라스틱 서치 jaso_analyzer 도입 (#488)
  back/backend/docker-compose.yml
  back/backend/elasticsearch/config/index-settings.json
Labels: 📐 devops, ✏️ feature

#487 [Feat] 메인페이지 통합 검색 api 구현(#486)
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveElasticSearchService.java
  back/backend/src/main/java/org/example/backend/Exception/custom/InvalidMainException.java
  back/backend/src/main/java/org/example/backend/Main/Controller/MainController.java
  back/backend/src/main/java/org/example/backend/Main/Model/Res/GetMainSearchRes.java
  back/backend/src/main/java/org/example/backend/Main/Service/MainElasticSearchService.java
Labels: 🍃 backend, ✏️ feature

#485 [Feat] 주간 랭킹 배치 프로그램 구현
  back/backend/src/main/java/org/example/backend/Point/Service/PointService.java
  back/batch/src/main/java/com/example/batch/job/DailyRankingConfig.java
  back/batch/src/main/java/com/example/batch/job/WeeklyRankConfig.java
  back/batch/src/main/java/com/example/batch/job/WeeklyRankingConfig.java
  back/common/src/main/java/com/example/common/Ranking/model/Entity/WeeklyRanking.java
  back/common/src/main/java/com/example/common/User/Model/Entity/User.java
  back/common/src/main/java/com/example/common/User/Repository/UserRepository.java
Labels: 🍃 backend, ✏️ feature

#494 [Feat] 메인 페이지에서의 qna resolved 적용
  back/backend/src/main/java/org/example/backend/Main/Service/MainService.java
  back/common/src/main/java/com/example/common/Qna/Repository/QuestionRepository.java
Labels: 🍃 backend, ✏️ feature

#495 [Fix] ended 전환 안내 메시지 및 답변 작성 isLoading 추가
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Register/QnaAnswerRegisterComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
Labels: 🖥️ frontend, 🛠️ bug fix

#496 [Fix] 랭킹 데이터 에러 메시지 수정
  frontend/src/pages/RankingPage.vue
Labels: 🛠️ bug fix

#499 [Fix] 통합 검색 사이즈 별로 반환(#498)
  back/backend/src/main/java/org/example/backend/Main/Controller/MainController.java
  back/backend/src/main/java/org/example/backend/Main/Service/MainElasticSearchService.java
Labels: 🍃 backend, 📐 refactor, 🛠️ bug fix

#500 Be/feat/test/user
  back/backend/gradlew
  back/backend/src/main/java/org/example/backend/Config/AppConfig.java
  back/backend/src/main/java/org/example/backend/Security/CustomOAuth2UserService.java
  back/backend/src/main/java/org/example/backend/User/Model/Req/UpdateUserPasswordReq.java
  back/backend/src/main/java/org/example/backend/User/Model/Req/UserSignupReq.java
  back/backend/src/main/java/org/example/backend/User/Service/UserService.java
  back/backend/src/test/java/org/example/backend/BackendApplicationTests.java
  back/backend/src/test/java/org/example/backend/User/OAuth2UserServiceTest.java
  back/backend/src/test/java/org/example/backend/User/UserControllerTest.java
  back/backend/src/test/java/org/example/backend/User/UserServiceTest.java
  back/batch/build.gradle
  cicd/back/Jenkinsfile
  cicd/batch/Jenkinsfile
Labels: 🍃 backend, ✏️ feature

#502 [Feat] 백엔드 에러페이지 처리 추가
  frontend/nginx.conf
Labels: 🖥️ frontend, ✏️ feature

#497 [Feat] 통합 검색 구현 (#493)
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Common/WikiSearchComponent .vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/TotalSearchPage.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useMainStore.js
Labels: 🖥️ frontend, ✏️ feature

#457 [Docs] Elasticsearch관련 배포 파일
  cicd/elastic/Elasticsearch-Statefulset.yaml
  cicd/elastic/elastic-storage-class.yaml
  cicd/elastic/elasticsearch-pv.yaml
  cicd/elastic/logstash-deployment.yaml
  cicd/elastic/logstash-yml-configmap.yaml
Labels: 🍃 backend, 📄 docs

#504 [Fix] return으로 파이프라인 조기 종료 수정
  cicd/back/Jenkinsfile
  cicd/batch/Jenkinsfile
Labels: 📐 devops, 🛠️ bug fix

#505 [Feat] 위키 초성검색 적용
  back/backend/elasticsearch/config/index-settings.json
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/Common/ChosungChecker.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/ElasticWikiSearchService.java
Labels: 🍃 backend, ✏️ feature

#510 [Fix] 파이프라인 조기 종료 수정
  cicd/back/Jenkinsfile
  cicd/back/backend-deployment.yaml
  cicd/batch/Jenkinsfile
Labels: 🍃 backend, 🛠️ bug fix

#508 [Feat] 에러 아카이브 초성 검색 api 구현, 통합 초성 검색 api 구현(#507)
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/Common/ChosungChecker.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveElasticSearchService.java
  back/backend/src/main/java/org/example/backend/Main/Service/MainElasticSearchService.java
Labels: 🍃 backend, ✏️ feature

#512 [Feat] 위키 초성 한글자 검색시 예외처리 (#511)
  frontend/src/components/Common/WikiSearchComponent .vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, ✏️ feature, 📐 refactor

#520 프론트 수정
  cicd/front/frontend-deployment.yaml
  frontend/nginx.conf
  frontend/src/App.vue
  frontend/src/components/Common/ExceptionComponent.vue
  frontend/src/components/Common/LoadingComponent.vue
  frontend/src/components/Common/NicknameComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveUpdateComponent.vue
  frontend/src/components/user/SignInComponent.vue
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/pages/ErrorArchiveRegisterPage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/PointPage.vue
  frontend/src/pages/RankingPage.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, 📐 devops, ✏️ feature, 🛠️ bug fix, 🎨 design

#521 [Feat] Qna 수정 조회 api 개발
  back/backend/src/main/java/org/example/backend/BackendApplication.java
  back/backend/src/main/java/org/example/backend/Qna/Controller/QuestionController.java
  back/backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  back/backend/src/main/java/org/example/backend/Qna/model/Res/GetQuestionEditDetailRes.java
Labels: 🍃 backend, ✏️ feature

#517 [Fix] 수정페이지- CSS 수정
  frontend/src/components/wiki/WikiUpdateComponent.vue
Labels: 🍃 backend, 🛠️ bug fix

#516 [Feat] QnA 한글자 초성 검색시 예외처리(#515)
  frontend/src/pages/QnaListPage.vue
Labels: 🖥️ frontend, ✏️ feature

#528 [Refactor] 위키 기본 이미지 변경 및 추가
  back/backend/src/main/java/org/example/backend/File/Service/CloudFileUploadService.java
Labels: 🍃 backend, 📐 refactor

#523 [Feat] 에러아카이브 초성 예외 alert 처리
  frontend/src/pages/ErrorArchiveListPage.vue
Labels: 🖥️ frontend, ✏️ feature

#525 [Feat] 통합 검색 초성 예외처리(#514)
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/TotalSearchPage.vue
  frontend/src/store/useMainStore.js
Labels: 🖥️ frontend, ✏️ feature

#522 [Feat] Qna 수정 및 상세조회 컴포넌트 에러 처리
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/RankingPage.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#530 [Refactor] 백엔드 cicd 스크립트 rollout 확인 시간 단축
  cicd/back/backend.sh
Labels: 📐 devops, 📐 refactor

#545 [Fix] 에러아카이브 관련 에러 수정 (#544)
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#557 [Feat] 위키 검색 정렬 조건 추가 (#556)
  back/backend/src/main/java/org/example/backend/Wiki/Model/Req/GetWikiSearchReq.java
  back/backend/src/main/java/org/example/backend/Wiki/Service/ElasticWikiSearchService.java
Labels: 🍃 backend, ✏️ feature

#560 [Feat] 위키 검색 정렬 컴포넌트 추가 (#558)
  frontend/src/components/Common/WikiSearchComponent .vue
  frontend/src/components/Common/WikiSortTypeComponent.vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, ✏️ feature

#553 [Feat] 소셜 로그인 세션id 사용X, 로그인 상태 확인 API
  back/backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  back/backend/src/main/java/org/example/backend/User/Controller/UserController.java
  back/backend/src/main/java/org/example/backend/User/Model/Res/GetUserStatusRes.java
Labels: 🍃 backend, ✏️ feature, 🛠️ bug fix

#534 [Feat] 로그인 안한 유저 1:1채팅 버튼 안보이도록 수정 (533)
  frontend/src/App.vue
  frontend/src/components/Common/NicknameComponent.vue
  frontend/src/pages/ChatPage.vue
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend

#554 [Fix] 회원가입시 닉네임이 50글자이상이면 alert띄우고 reset(#550)
  frontend/src/components/user/SignUpComponent.vue
Labels: 🖥️ frontend, 🛠️ bug fix

#549 [Fix] 에러아카이브 상세 페이지 글자 크기 수정(#548)
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
Labels: 🖥️ frontend, 🎨 design

#543 [Refactor] 위키 없는 URL id 예외처리 (#532)
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, 📐 refactor, 🛠️ bug fix

#559 [Fix] 로그인 하지 않은 사용자의 댓글 보기 권한 수정
  frontend/src/components/Common/AdditionalInfoComponent.vue
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaCommentDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
Labels: 🖥️ frontend, 🛠️ bug fix

#568 [Fix] 버전 리스트 테이블 수정 (#567)
  frontend/src/pages/WikiVersionListPage.vue
Labels: 😵 bug, 🖥️ frontend

#566 [Feat] 프론트 수정
  cicd/front/frontend-deployment.yaml
  frontend/src/components/Qna/List/QnaListCardComponent.vue
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useMypageStore.js
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend, ✏️ feature, 🛠️ bug fix, 🎨 design

#538 [Feat] 에러 아카이브 수정 권한 설정 추가(#537)
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Controller/ErrorArchiveController.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Model/Res/GetErrorArchiveEditDetailRes.java
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
  back/common/src/main/java/com/example/common/ErrorArchive/Repository/ErrorArchiveReository.java
Labels: 🍃 backend, ✏️ feature

#547 [Feat] 상세페이지에서 유효하지 않는 url입력시 에러 처리(#546)
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, ✏️ feature

#569 [Fix] 에러아카이브 edit-detail 메소드 수정
  back/backend/src/main/java/org/example/backend/ErrorArchive/Service/ErrorArchiveService.java
Labels: 🖥️ frontend, 🛠️ bug fix

#535 [Feat] 본인이 작성하지 않은 글을 url로 수정페이지 못들어가게끔 추가(#526)
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveUpdateComponent.vue
  frontend/src/pages/ErrorArchiveUpdatePage.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, ✏️ feature

#572 [Fix] 에러아카이브 수정페이지에서 유효하지 않는 url입력, 권한이 없을때 url입력시 에러처리
  frontend/src/pages/ErrorArchiveUpdatePage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/store/useErrorArchiveStore.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#573 [Feat] wiki 검색어로 검색했을 때만 sortcomponent 보이도록 설정
  frontend/src/components/Common/WikiSortTypeComponent.vue
  frontend/src/pages/WikiListPage.vue
Labels: 🖥️ frontend, ✏️ feature

#564 [Fix] 닉네임 길이, 특수문자 예외처리 수정 (#563)
  back/backend/src/main/java/org/example/backend/Common/BaseResponseStatus.java
  back/backend/src/main/java/org/example/backend/Security/CustomUserDetailService.java
  back/backend/src/main/java/org/example/backend/User/Controller/UserController.java
  back/backend/src/main/java/org/example/backend/User/Model/Req/UserSignupReq.java
  back/backend/src/main/java/org/example/backend/User/Service/UserService.java
  back/backend/src/test/java/org/example/backend/User/OAuth2UserServiceTest.java
  back/backend/src/test/java/org/example/backend/User/UserControllerTest.java
  back/backend/src/test/java/org/example/backend/User/UserServiceTest.java
  back/batch/src/main/java/com/example/batch/config/AppConfig.java
  back/batch/src/main/java/com/example/batch/job/AiAnswerConfig.java
  back/batch/src/main/java/com/example/batch/processor/HttpAiAnswerProcessor.java
  back/batch/src/main/resources/application.yml
  cicd/batch/batch-aianswer-cronjob.yaml
  cicd/batch/batch-dailyranking-cronjob.yaml
  cicd/batch/batch-unanswered-cronjob.yaml
  cicd/batch/batch-weeklyranking-cronjob.yaml
Labels: 🍃 backend, ✏️ feature, 📐 refactor, 🛠️ bug fix

#575 [Fix] 중복 확인 수정
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/store/useMypageStore.js
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#576 Fe dev
  cicd/front/frontend-deployment.yaml
  frontend/nginx.conf
  frontend/src/App.vue
  frontend/src/components/Common/AdditionalInfoComponent.vue
  frontend/src/components/Common/CategoryComponent.vue
  frontend/src/components/Common/ExceptionComponent.vue
  frontend/src/components/Common/LoadingComponent.vue
  frontend/src/components/Common/NicknameComponent.vue
  frontend/src/components/Common/SearchComponent.vue
  frontend/src/components/Common/SortTypeComponent.vue
  frontend/src/components/Common/WikiSearchComponent .vue
  frontend/src/components/Common/WikiSortTypeComponent.vue
  frontend/src/components/Header/HeaderComponent.vue
  frontend/src/components/Mypage/Info/InfoComponent.vue
  frontend/src/components/Point/PointInfoComponent.vue
  frontend/src/components/Point/PointRankingComponent.vue
  frontend/src/components/Point/RankingListComponent.vue
  frontend/src/components/Qna/Detail/QnaAnswerDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaCommentDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailComponent.vue
  frontend/src/components/Qna/Detail/QnaDetailHeaderComponent.vue
  frontend/src/components/Qna/List/QnaListCardComponent.vue
  frontend/src/components/Qna/QnaResolvedComponent.vue
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
  frontend/src/components/Qna/Register/QnaAnswerRegisterComponent.vue
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveCardComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveRegisterComponent.vue
  frontend/src/components/errorarchive/ErrorArchiveUpdateComponent.vue
  frontend/src/components/user/SignInComponent.vue
  frontend/src/components/user/SignUpComponent.vue
  frontend/src/components/wiki/WikiDetailComponent.vue
  frontend/src/components/wiki/WikiRegisterComponent.vue
  frontend/src/components/wiki/WikiUpdateComponent.vue
  frontend/src/components/wiki/WikiVersionDetailComponent.vue
  frontend/src/pages/ChatPage.vue
  frontend/src/pages/ErrorArchiveListPage.vue
  frontend/src/pages/ErrorArchiveRegisterPage.vue
  frontend/src/pages/ErrorArchiveUpdatePage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/PointPage.vue
  frontend/src/pages/QnaDetailPage.vue
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/RankingPage.vue
  frontend/src/pages/TotalSearchPage.vue
  frontend/src/pages/WikiListPage.vue
  frontend/src/pages/WikiVersionListPage.vue
  frontend/src/router/index.js
  frontend/src/store/useChatStore.js
  frontend/src/store/useErrorArchiveStore.js
  frontend/src/store/useMainStore.js
  frontend/src/store/useMypageStore.js
  frontend/src/store/usePointStore.js
  frontend/src/store/useQnaStore.js
  frontend/src/store/useUserStore.js
  frontend/src/store/useWikiStore.js
Labels: 🖥️ frontend

#579 [Fix] 위키 수정 컴포넌트 - 등급 오류 수정 (#578)
  frontend/src/components/wiki/WikiUpdateComponent.vue
Labels: 😵 bug, 🖥️ frontend

#581 [Fix] 에러아카이브 스크랩 버그 수정 (#580)
  frontend/src/components/errorarchive/ErrorArchiveDetailComponent.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#583 [Fix] unanswered 기준 수정 (#582)
  back/batch/src/main/java/com/example/batch/job/UnansweredConfig.java
  back/common/src/main/java/com/example/common/Qna/Repository/QuestionRepository.java
Labels: 🍃 backend, 🛠️ bug fix

#585 [Fix] 아카이브 수정 페이지 접근 권한 수정 (#584)
  frontend/src/pages/ErrorArchiveUpdatePage.vue
  frontend/src/store/useErrorArchiveStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#587 [Fix] qna 등록 시 리다이렉트 수정 (#586)
  frontend/src/components/Qna/Register/QnaRegisterComponent.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, ✏️ feature

#589 [Fix] QnA, 랭킹 페이지네이션 버그 수정
  frontend/src/pages/QnaListPage.vue
  frontend/src/pages/RankingPage.vue
Labels: 🖥️ frontend, 🛠️ bug fix

#593 [Fix] 로그인 예외처리 수정 (#592)
  back/backend/src/main/java/org/example/backend/Config/Filter/LoginFilter.java
  back/backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  back/backend/src/main/java/org/example/backend/Exception/CustomAuthenticationFailureHandler.java
  back/backend/src/main/java/org/example/backend/User/Service/MypageService.java
Labels: 🍃 backend, 🛠️ bug fix

#594 [Fix] 로그인 예외처리 수정 (#592)
  frontend/src/pages/LoginPage.vue
  frontend/src/store/useUserStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#590 [Fix] qna 수정 권한 확인
  back/backend/src/main/java/org/example/backend/Qna/Service/QnaService.java
  back/backend/src/main/java/org/example/backend/Qna/model/Res/GetQuestionDetailRes.java
Labels: 🍃 backend, 🛠️ bug fix

#591 [Fix] QnA 수정 권한 버그 수정
  frontend/src/components/Qna/Refactor/QnaEditComponent.vue
  frontend/src/store/useQnaStore.js
Labels: 🖥️ frontend, 🛠️ bug fix

#598 [Fix] 카테고리 엔티티에 generatedValue 추가
  back/common/src/main/java/com/example/common/Category/Model/Entity/Category.java
Labels: 🍃 backend, 🛠️ bug fix

#599 [Fix] 로그인 핫픽스
  back/backend/src/main/java/org/example/backend/Config/SecurityConfig.java
  back/backend/src/main/java/org/example/backend/Security/CustomUserDetailService.java
  back/backend/src/main/java/org/example/backend/Security/CustomUserDetails.java
  back/backend/src/main/java/org/example/backend/User/Controller/UserController.java
Labels: 🍃 backend, 🛠️ bug fix
